---
layout: default
---

  <div class="container">

    <h5 class="mb-2">{{ page.title | escape }}</h5>

    <!-- BODY CONTENT -->
    <div class="row">
      <div class="col-sm-7 col-md-6 col-lg-5">
        {{ content }}
        <div class="clearfix spacer"></div>
      </div>
    </div>

    <!-- News posts appear below -->
    <div class="row">
      <div class="col-sm-8">

        {% unless site.categories.news.size > 0 %}
        <p>No posts in this category at this time.</p>
        {% endunless %}

        {% assign featured_posts = (site.categories.news|where_exp:"post","post['is featured'] == true") %}
        {% assign not_featured_posts = (site.categories.news|where_exp:"post","post['is featured'] == false") %}

        {% for post in featured_posts %}
        <hr class="mt-0 mb-2">
        <span class="badge badge-danger">PINNED</span>
        {% include action-post-header.html %}
        {% endfor %}

        {% for post in not_featured_posts %}
        <hr class="mt-0 mb-2">
        {% include action-post-header.html %}
        {% endfor %}
      </div>
    </div>
  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
